@import "~bootstrap/scss/bootstrap";

body, html {
  width: 100%;
  height: 100%;
  background-color: #495057;
}

.app {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}

.bg-gray-700 {
  background-color: #495057;
}

.bg-gray-900 {
  background-color: #212529;
}

.selected > td {
  background-color: #f1aeb5;
}

tbody > tr:hover {
  opacity: .8;
}